:root {
  --bg-color: hsl(220, 27%, 98%);
  
}


body {
  background: var(--bg-color);
  background-image: url('/img/backgroundpattern-c0621009.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}


.qr_code img {
  width:300px;
  height: 300px;
}

.qr_code_main {
  max-width: 800px;
  margin: 0 auto;
}

.download_qr_code {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.qr-logo{
  height: 32px;
  padding-right: 1rem;
}

header .nav-btn {
  border: none;
  height: 32px;
}